In [1]:

import pandas as pd
from BasicDistanceApproach import BasicDistanceApproach
from DistanceFunctions import DistanceFunctions

In [2]:
data = pd.read_csv('ExampleData.csv')

In [3]:
distanceClass = BasicDistanceApproach()

In [4]:
data["Date"] = pd.to_datetime(data.Date)

In [5]:
data.head()

        Date         SPY          GS       MSFT        TLT        MRK
0 2012-09-10  119.632301   98.449478  25.307489  99.530861  30.457027
1 2012-09-11  119.965752  100.175034  25.365162  98.906410  30.505203
2 2012-09-12  120.365906  101.505661  25.356930  97.673576  30.642830
3 2012-09-13  122.199844  103.591736  25.488735  97.289314  31.039095
4 2012-09-14  122.741730  104.184090  25.711164  94.703629  30.316290

In [6]:
trainData = data[data["Date"] <= '2016-01-01']

In [7]:
testData = data[data["Date"] > '2016-01-01']

In [8]:
distanceClass.setPairsData(trainData)
distanceClass.setSignalData(testData)

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

True

In [9]:
distanceClass.dataTest

           Date         SPY          GS        MSFT         TLT        MRK
833  2016-01-04  180.112762  158.829620   49.488720  106.477356  40.896587
834  2016-01-05  180.417435  156.094910   49.714508  106.047745  41.418694
835  2016-01-06  178.141632  152.284225   48.811424  107.476768  40.849823
836  2016-01-07  173.867722  147.603790   47.113625  107.669678  40.491364
837  2016-01-08  171.959229  146.994095   47.258125  108.151871  39.805588
...         ...         ...         ...         ...         ...        ...
2377 2022-02-18  434.230011  344.012177  287.929993  138.047165  75.696663
2378 2022-02-22  429.570007  342.252533  287.720001  138.406693  75.280365
2379 2022-02-23  421.950012  339.190613  280.269989  136.499222  75.171333
2380 2022-02-24  428.299988  338.196472  294.589996  136.589111  72.861877
2381 2022-02-25  437.750000  348.068268  297.309998  136.688965  75.647102

[1549 rows x 6 columns]

In [10]:
distanceClass.generatePairs(DistanceFunctions.sumSquaredDistance,20)

0      0.079127
1      0.083594
2      0.088955
3      0.113523
4      0.120782
         ...
828    0.945275
829    0.939634
830    0.965920
831    0.948276
832    0.923550
Name: SPY, Length: 833, dtype: float64
0      0.014101
1      0.031815
2      0.045475
3      0.066890
4      0.072971
         ...
828    0.683017
829    0.675193
830    0.692774
831    0.678783
832    0.662398
Name: GS, Length: 833, dtype: float64
0      0.079127
1      0.083594
2      0.088955
3      0.113523
4      0.120782
         ...
828    0.945275
829    0.939634
830    0.965920
831    0.948276
832    0.923550
Name: SPY, Length: 833, dtype: float64
0      0.116745
1      0.118722
2      0.118440
3      0.122959
4      0.130585
         ...
828    0.972753
829    0.981423
830    1.000000
831    0.992569
832    0.966870
Name: MSFT, Length: 833, dtype: float64
0      0.079127
1      0.083594
2      0.088955
3      0.113523
4      0.120782
         ...
828    0.945275
829    0.939634
830    0.965920
831    0.948276
832    0.923550
Name: SPY, Length: 833, dtype: float64
0      0.460540
1      0.442503
2      0.406892
3      0.395792
4      0.321103
         ...
828    0.670816
829    0.679933
830    0.628524
831    0.625486
832    0.639160
Name: TLT, Length: 833, dtype: float64
0      0.079127
1      0.083594
2      0.088955
3      0.113523
4      0.120782
         ...
828    0.945275
829    0.939634
830    0.965920
831    0.948276
832    0.923550
Name: SPY, Length: 833, dtype: float64
0      0.101850
1      0.104395
2      0.111666
3      0.132601
4      0.094414
         ...
828    0.668623
829    0.668211
830    0.688796
831    0.685091
832    0.667387
Name: MRK, Length: 833, dtype: float64
0      0.014101
1      0.031815
2      0.045475
3      0.066890
4      0.072971
         ...
828    0.683017
829    0.675193
830    0.692774
831    0.678783
832    0.662398
Name: GS, Length: 833, dtype: float64
0      0.079127
1      0.083594
2      0.088955
3      0.113523
4      0.120782
         ...
828    0.945275
829    0.939634
830    0.965920
831    0.948276
832    0.923550
Name: SPY, Length: 833, dtype: float64
0      0.014101
1      0.031815
2      0.045475
3      0.066890
4      0.072971
         ...
828    0.683017
829    0.675193
830    0.692774
831    0.678783
832    0.662398
Name: GS, Length: 833, dtype: float64
0      0.116745
1      0.118722
2      0.118440
3      0.122959
4      0.130585
         ...
828    0.972753
829    0.981423
830    1.000000
831    0.992569
832    0.966870
Name: MSFT, Length: 833, dtype: float64
0      0.014101
1      0.031815
2      0.045475
3      0.066890
4      0.072971
         ...
828    0.683017
829    0.675193
830    0.692774
831    0.678783
832    0.662398
Name: GS, Length: 833, dtype: float64
0      0.460540
1      0.442503
2      0.406892
3      0.395792
4      0.321103
         ...
828    0.670816
829    0.679933
830    0.628524
831    0.625486
832    0.639160
Name: TLT, Length: 833, dtype: float64
0      0.014101
1      0.031815
2      0.045475
3      0.066890
4      0.072971
         ...
828    0.683017
829    0.675193
830    0.692774
831    0.678783
832    0.662398
Name: GS, Length: 833, dtype: float64
0      0.101850
1      0.104395
2      0.111666
3      0.132601
4      0.094414
         ...
828    0.668623
829    0.668211
830    0.688796
831    0.685091
832    0.667387
Name: MRK, Length: 833, dtype: float64
0      0.116745
1      0.118722
2      0.118440
3      0.122959
4      0.130585
         ...
828    0.972753
829    0.981423
830    1.000000
831    0.992569
832    0.966870
Name: MSFT, Length: 833, dtype: float64
0      0.079127
1      0.083594
2      0.088955
3      0.113523
4      0.120782
         ...
828    0.945275
829    0.939634
830    0.965920
831    0.948276
832    0.923550
Name: SPY, Length: 833, dtype: float64
0      0.116745
1      0.118722
2      0.118440
3      0.122959
4      0.130585
         ...
828    0.972753
829    0.981423
830    1.000000
831    0.992569
832    0.966870
Name: MSFT, Length: 833, dtype: float64
0      0.014101
1      0.031815
2      0.045475
3      0.066890
4      0.072971
         ...
828    0.683017
829    0.675193
830    0.692774
831    0.678783
832    0.662398
Name: GS, Length: 833, dtype: float64
0      0.116745
1      0.118722
2      0.118440
3      0.122959
4      0.130585
         ...
828    0.972753
829    0.981423
830    1.000000
831    0.992569
832    0.966870
Name: MSFT, Length: 833, dtype: float64
0      0.460540
1      0.442503
2      0.406892
3      0.395792
4      0.321103
         ...
828    0.670816
829    0.679933
830    0.628524
831    0.625486
832    0.639160
Name: TLT, Length: 833, dtype: float64
0      0.116745
1      0.118722
2      0.118440
3      0.122959
4      0.130585
         ...
828    0.972753
829    0.981423
830    1.000000
831    0.992569
832    0.966870
Name: MSFT, Length: 833, dtype: float64
0      0.101850
1      0.104395
2      0.111666
3      0.132601
4      0.094414
         ...
828    0.668623
829    0.668211
830    0.688796
831    0.685091
832    0.667387
Name: MRK, Length: 833, dtype: float64
0      0.460540
1      0.442503
2      0.406892
3      0.395792
4      0.321103
         ...
828    0.670816
829    0.679933
830    0.628524
831    0.625486
832    0.639160
Name: TLT, Length: 833, dtype: float64
0      0.079127
1      0.083594
2      0.088955
3      0.113523
4      0.120782
         ...
828    0.945275
829    0.939634
830    0.965920
831    0.948276
832    0.923550
Name: SPY, Length: 833, dtype: float64
0      0.460540
1      0.442503
2      0.406892
3      0.395792
4      0.321103
         ...
828    0.670816
829    0.679933
830    0.628524
831    0.625486
832    0.639160
Name: TLT, Length: 833, dtype: float64
0      0.014101
1      0.031815
2      0.045475
3      0.066890
4      0.072971
         ...
828    0.683017
829    0.675193
830    0.692774
831    0.678783
832    0.662398
Name: GS, Length: 833, dtype: float64
0      0.460540
1      0.442503
2      0.406892
3      0.395792
4      0.321103
         ...
828    0.670816
829    0.679933
830    0.628524
831    0.625486
832    0.639160
Name: TLT, Length: 833, dtype: float64
0      0.116745
1      0.118722
2      0.118440
3      0.122959
4      0.130585
         ...
828    0.972753
829    0.981423
830    1.000000
831    0.992569
832    0.966870
Name: MSFT, Length: 833, dtype: float64
0      0.460540
1      0.442503
2      0.406892
3      0.395792
4      0.321103
         ...
828    0.670816
829    0.679933
830    0.628524
831    0.625486
832    0.639160
Name: TLT, Length: 833, dtype: float64
0      0.101850
1      0.104395
2      0.111666
3      0.132601
4      0.094414
         ...
828    0.668623
829    0.668211
830    0.688796
831    0.685091
832    0.667387
Name: MRK, Length: 833, dtype: float64
0      0.101850
1      0.104395
2      0.111666
3      0.132601
4      0.094414
         ...
828    0.668623
829    0.668211
830    0.688796
831    0.685091
832    0.667387
Name: MRK, Length: 833, dtype: float64
0      0.079127
1      0.083594
2      0.088955
3      0.113523
4      0.120782
         ...
828    0.945275
829    0.939634
830    0.965920
831    0.948276
832    0.923550
Name: SPY, Length: 833, dtype: float64
0      0.101850
1      0.104395
2      0.111666
3      0.132601
4      0.094414
         ...
828    0.668623
829    0.668211
830    0.688796
831    0.685091
832    0.667387
Name: MRK, Length: 833, dtype: float64
0      0.014101
1      0.031815
2      0.045475
3      0.066890
4      0.072971
         ...
828    0.683017
829    0.675193
830    0.692774
831    0.678783
832    0.662398
Name: GS, Length: 833, dtype: float64
0      0.101850
1      0.104395
2      0.111666
3      0.132601
4      0.094414
         ...
828    0.668623
829    0.668211
830    0.688796
831    0.685091
832    0.667387
Name: MRK, Length: 833, dtype: float64
0      0.116745
1      0.118722
2      0.118440
3      0.122959
4      0.130585
         ...
828    0.972753
829    0.981423
830    1.000000
831    0.992569
832    0.966870
Name: MSFT, Length: 833, dtype: float64
0      0.101850
1      0.104395
2      0.111666
3      0.132601
4      0.094414
         ...
828    0.668623
829    0.668211
830    0.688796
831    0.685091
832    0.667387
Name: MRK, Length: 833, dtype: float64
0      0.460540
1      0.442503
2      0.406892
3      0.395792
4      0.321103
         ...
828    0.670816
829    0.679933
830    0.628524
831    0.625486
832    0.639160
Name: TLT, Length: 833, dtype: float64
True

ValueError: too many values to unpack (expected 2)

In [ ]:
for i in distanceClass.dataTrain.columns[1:]:
    for j in distanceClass.dataTrain.columns[1:]:
        if i != j:
            print(distanceClass.dataTrain[[i,j]].head())

          SPY          GS
0  119.632301   98.449478
1  119.965752  100.175034
2  120.365906  101.505661
3  122.199844  103.591736
4  122.741730  104.184090
          SPY       MSFT
0  119.632301  25.307489
1  119.965752  25.365162
2  120.365906  25.356930
3  122.199844  25.488735
4  122.741730  25.711164
          SPY        TLT
0  119.632301  99.530861
1  119.965752  98.906410
2  120.365906  97.673576
3  122.199844  97.289314
4  122.741730  94.703629
          SPY        MRK
0  119.632301  30.457027
1  119.965752  30.505203
2  120.365906  30.642830
3  122.199844  31.039095
4  122.741730  30.316290
           GS         SPY
0   98.449478  119.632301
1  100.175034  119.965752
2  101.505661  120.365906
3  103.591736  122.199844
4  104.184090  122.741730
           GS       MSFT
0   98.449478  25.307489
1  100.175034  25.365162
2  101.505661  25.356930
3  103.591736  25.488735
4  104.184090  25.711164
           GS        TLT
0   98.449478  99.530861
1  100.175034  98.906410
2  101.505661  97.673576
3  103.591736  97.289314
4  104.184090  94.703629
           GS        MRK
0   98.449478  30.457027
1  100.175034  30.505203
2  101.505661  30.642830
3  103.591736  31.039095
4  104.184090  30.316290
        MSFT         SPY
0  25.307489  119.632301
1  25.365162  119.965752
2  25.356930  120.365906
3  25.488735  122.199844
4  25.711164  122.741730
        MSFT          GS
0  25.307489   98.449478
1  25.365162  100.175034
2  25.356930  101.505661
3  25.488735  103.591736
4  25.711164  104.184090
        MSFT        TLT
0  25.307489  99.530861
1  25.365162  98.906410
2  25.356930  97.673576
3  25.488735  97.289314
4  25.711164  94.703629
        MSFT        MRK
0  25.307489  30.457027
1  25.365162  30.505203
2  25.356930  30.642830
3  25.488735  31.039095
4  25.711164  30.316290
         TLT         SPY
0  99.530861  119.632301
1  98.906410  119.965752
2  97.673576  120.365906
3  97.289314  122.199844
4  94.703629  122.741730
         TLT          GS
0  99.530861   98.449478
1  98.906410  100.175034
2  97.673576  101.505661
3  97.289314  103.591736
4  94.703629  104.184090
         TLT       MSFT
0  99.530861  25.307489
1  98.906410  25.365162
2  97.673576  25.356930
3  97.289314  25.488735
4  94.703629  25.711164
         TLT        MRK
0  99.530861  30.457027
1  98.906410  30.505203
2  97.673576  30.642830
3  97.289314  31.039095
4  94.703629  30.316290
         MRK         SPY
0  30.457027  119.632301
1  30.505203  119.965752
2  30.642830  120.365906
3  31.039095  122.199844
4  30.316290  122.741730
         MRK          GS
0  30.457027   98.449478
1  30.505203  100.175034
2  30.642830  101.505661
3  31.039095  103.591736
4  30.316290  104.184090
         MRK       MSFT
0  30.457027  25.307489
1  30.505203  25.365162
2  30.642830  25.356930
3  31.039095  25.488735
4  30.316290  25.711164
         MRK        TLT
0  30.457027  99.530861
1  30.505203  98.906410
2  30.642830  97.673576
3  31.039095  97.289314
4  30.316290  94.703629

In [11]:
distanceClass.dataTrain[['Date','GS','SPY']]

          Date          GS         SPY
0   2012-09-10   98.449478  119.632301
1   2012-09-11  100.175034  119.965752
2   2012-09-12  101.505661  120.365906
3   2012-09-13  103.591736  122.199844
4   2012-09-14  104.184090  122.741730
..         ...         ...         ...
828 2015-12-24  163.608734  184.288101
829 2015-12-28  162.846527  183.867035
830 2015-12-29  164.559128  185.829208
831 2015-12-30  163.196228  184.512100
832 2015-12-31  161.600235  182.666351

[833 rows x 3 columns]

In [23]:
l = [trainData,testData]

In [24]:
l[0]

          Date         SPY          GS       MSFT         TLT        MRK
0   2012-09-10  119.632301   98.449478  25.307489   99.530861  30.457027
1   2012-09-11  119.965752  100.175034  25.365162   98.906410  30.505203
2   2012-09-12  120.365906  101.505661  25.356930   97.673576  30.642830
3   2012-09-13  122.199844  103.591736  25.488735   97.289314  31.039095
4   2012-09-14  122.741730  104.184090  25.711164   94.703629  30.316290
..         ...         ...         ...        ...         ...        ...
828 2015-12-24  184.288101  163.608734  50.274410  106.810509  41.184925
829 2015-12-28  183.867035  162.846527  50.527275  107.126137  41.177120
830 2015-12-29  185.829208  164.559128  51.069111  105.346382  41.566769
831 2015-12-30  184.512100  163.196228  50.852375  105.241196  41.496635
832 2015-12-31  182.666351  161.600235  50.102814  105.714592  41.161541

[833 rows x 6 columns]

In [25]:
l.append(testData)

In [26]:
l

[          Date         SPY          GS       MSFT         TLT        MRK
 0   2012-09-10  119.632301   98.449478  25.307489   99.530861  30.457027
 1   2012-09-11  119.965752  100.175034  25.365162   98.906410  30.505203
 2   2012-09-12  120.365906  101.505661  25.356930   97.673576  30.642830
 3   2012-09-13  122.199844  103.591736  25.488735   97.289314  31.039095
 4   2012-09-14  122.741730  104.184090  25.711164   94.703629  30.316290
 ..         ...         ...         ...        ...         ...        ...
 828 2015-12-24  184.288101  163.608734  50.274410  106.810509  41.184925
 829 2015-12-28  183.867035  162.846527  50.527275  107.126137  41.177120
 830 2015-12-29  185.829208  164.559128  51.069111  105.346382  41.566769
 831 2015-12-30  184.512100  163.196228  50.852375  105.241196  41.496635
 832 2015-12-31  182.666351  161.600235  50.102814  105.714592  41.161541

 [833 rows x 6 columns],
            Date         SPY          GS        MSFT         TLT        MRK
 833  2016-01-04  180.112762  158.829620   49.488720  106.477356  40.896587
 834  2016-01-05  180.417435  156.094910   49.714508  106.047745  41.418694
 835  2016-01-06  178.141632  152.284225   48.811424  107.476768  40.849823
 836  2016-01-07  173.867722  147.603790   47.113625  107.669678  40.491364
 837  2016-01-08  171.959229  146.994095   47.258125  108.151871  39.805588
 ...         ...         ...         ...         ...         ...        ...
 2377 2022-02-18  434.230011  344.012177  287.929993  138.047165  75.696663
 2378 2022-02-22  429.570007  342.252533  287.720001  138.406693  75.280365
 2379 2022-02-23  421.950012  339.190613  280.269989  136.499222  75.171333
 2380 2022-02-24  428.299988  338.196472  294.589996  136.589111  72.861877
 2381 2022-02-25  437.750000  348.068268  297.309998  136.688965  75.647102

 [1549 rows x 6 columns]]

In [12]:
l

NameError: name 'l' is not defined