In [1]:

import pandas as pd
from BasicDistanceApproach import BasicDistanceApproach
from DistanceFunctions import DistanceFunctions

In [2]:
data = pd.read_csv('ExampleData.csv')

In [3]:
distanceClass = BasicDistanceApproach()

In [4]:
data["Date"] = pd.to_datetime(data.Date)

In [5]:
data.head()

        Date         SPY          GS       MSFT        TLT        MRK
0 2012-09-10  119.632301   98.449478  25.307489  99.530861  30.457027
1 2012-09-11  119.965752  100.175034  25.365162  98.906410  30.505203
2 2012-09-12  120.365906  101.505661  25.356930  97.673576  30.642830
3 2012-09-13  122.199844  103.591736  25.488735  97.289314  31.039095
4 2012-09-14  122.741730  104.184090  25.711164  94.703629  30.316290

In [6]:
trainData = data[data["Date"] <= '2016-01-01']

In [7]:
testData = data[data["Date"] > '2016-01-01']

In [8]:
distanceClass.setPairsData(trainData)
distanceClass.setSignalData(testData)

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

True

In [9]:
distanceClass.dataTest

           Date         SPY          GS        MSFT         TLT        MRK
833  2016-01-04  180.112762  158.829620   49.488720  106.477356  40.896587
834  2016-01-05  180.417435  156.094910   49.714508  106.047745  41.418694
835  2016-01-06  178.141632  152.284225   48.811424  107.476768  40.849823
836  2016-01-07  173.867722  147.603790   47.113625  107.669678  40.491364
837  2016-01-08  171.959229  146.994095   47.258125  108.151871  39.805588
...         ...         ...         ...         ...         ...        ...
2377 2022-02-18  434.230011  344.012177  287.929993  138.047165  75.696663
2378 2022-02-22  429.570007  342.252533  287.720001  138.406693  75.280365
2379 2022-02-23  421.950012  339.190613  280.269989  136.499222  75.171333
2380 2022-02-24  428.299988  338.196472  294.589996  136.589111  72.861877
2381 2022-02-25  437.750000  348.068268  297.309998  136.688965  75.647102

[1549 rows x 6 columns]

In [10]:
distanceClass.generatePairs(DistanceFunctions.sumSquaredDistance,20)

c:\Users\Admin\Documents\GitHub\StatArbLab\PairsTrading\DistanceApproach\BasicDistanceApproach.py:124: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainPair[anorm] = self.normalizeSeries(trainPair[a])
c:\Users\Admin\Documents\GitHub\StatArbLab\PairsTrading\DistanceApproach\BasicDistanceApproach.py:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainPair[bnorm] = self.normalizeSeries(trainPair[b])
c:\Users\Admin\Documents\GitHub\StatArbLab\PairsTrading\DistanceApproach\BasicDistanceApproach.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testPair[anorm] = self.normalizeSeries(testPair[a], mina, maxa)
c:\Users\Admin\Documents\GitHub\StatArbLab\PairsTrading\DistanceApproach\BasicDistanceApproach.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testPair[bnorm] = self.normalizeSeries(testPair[b], minb, maxb)

In [11]:
distanceClass.addTradeSignals(threshold=1)

In [12]:
distanceClass.testPairs[0]

           Date         SPY        MRK  SPY_norm  MRK_norm    Spread  Signal
833  2016-01-04  180.112762  40.896587  0.889341  0.653389  0.235952      -1
834  2016-01-05  180.417435  41.418694  0.893422  0.680973  0.212449       0
835  2016-01-06  178.141632  40.849823  0.862935  0.650919  0.212016      -1
836  2016-01-07  173.867722  40.491364  0.805681  0.631981  0.173700       0
837  2016-01-08  171.959229  39.805588  0.780114  0.595750  0.184364      -1
...         ...         ...        ...       ...       ...       ...     ...
2377 2022-02-18  434.230011  75.696663  4.293569  2.491937  1.801633       0
2378 2022-02-22  429.570007  75.280365  4.231142  2.469943  1.761199      -1
2379 2022-02-23  421.950012  75.171333  4.129063  2.464183  1.664880       0
2380 2022-02-24  428.299988  72.861877  4.214129  2.342170  1.871959      -1
2381 2022-02-25  437.750000  75.647102  4.340724  2.489318  1.851406       0

[1549 rows x 7 columns]

In [13]:
distanceClass.computeReturns()

In [14]:
s = distanceClass.testPairs[0]

In [15]:
s.head()

,Date,SPY,MRK,SPY_norm,MRK_norm,Spread,Signal,SPY_Returns,MRK_Returns,Returns,Equity_Curve
833,2016-01-04,180.112762,40.896587,0.889341,0.653389,0.235952,-1,0.000000,0.000000,-0.000000,1.00000
834,2016-01-05,180.417435,41.418694,0.893422,0.680973,0.212449,0,0.001692,0.001692,-0.000000,1.00000
835,2016-01-06,178.141632,40.849823,0.862935,0.650919,0.212016,-1,-0.012614,-0.012614,0.012280,1.01228
836,2016-01-07,173.867722,40.491364,0.805681,0.631981,0.173700,0,-0.023992,-0.023992,-0.000000,1.01228
837,2016-01-08,171.959229,39.805588,0.780114,0.595750,0.184364,-1,-0.010977,-0.010977,0.009167,1.02156

In [20]:
for i in distanceClass.testPairs:
    print(i.columns[1],i.columns[2],i['Equity_Curve'].iloc[len(i)-1])

SyntaxError: unexpected EOF while parsing (<ipython-input-20-99d064767e1d>, line 2)

In [17]:
distanceClass.testPairs[7]

,Date,MSFT,GS,MSFT_norm,GS_norm,Spread,Signal,MSFT_Returns,GS_Returns,Returns,Equity_Curve
833,2016-01-04,49.488720,158.829620,0.945815,0.633956,0.311860,-1,0.000000,0.000000,-0.000000,1.000000
834,2016-01-05,49.714508,156.094910,0.953556,0.605881,0.347675,0,0.004562,0.004562,-0.000000,1.000000
835,2016-01-06,48.811424,152.284225,0.922594,0.566761,0.355832,-1,-0.018165,-0.018165,0.027332,1.027332
836,2016-01-07,47.113625,147.603790,0.864383,0.518713,0.345671,0,-0.034783,-0.034783,-0.000000,1.027332
837,2016-01-08,47.258125,146.994095,0.869338,0.512454,0.356884,-1,0.003067,0.003067,0.007505,1.035042
...,...,...,...,...,...,...,...,...,...,...,...
2377,2022-02-18,287.929993,344.012177,9.120941,2.535016,6.585924,-1,-0.009631,-0.009631,0.003594,-0.916430
2378,2022-02-22,287.720001,342.252533,9.113741,2.516952,6.596789,0,-0.000729,-0.000729,-0.000000,-0.916430
2379,2022-02-23,280.269989,339.190613,8.858312,2.485519,6.372793,-1,-0.025893,-0.025893,-0.080467,-0.990173
2380,2022-02-24,294.589996,338.196472,9.349283,2.475313,6.873970,0,0.051094,0.051094,-0.000000,-0.990173
2381,2022-02-25,297.309998,348.068268,9.442541,2.576656,6.865885,-1,0.009233,0.009233,-0.164008,-1.152569

In [18]:
distanceClass.testPairs[7]

,Date,MSFT,GS,MSFT_norm,GS_norm,Spread,Signal,MSFT_Returns,GS_Returns,Returns,Equity_Curve
833,2016-01-04,49.488720,158.829620,0.945815,0.633956,0.311860,-1,0.000000,0.000000,-0.000000,1.000000
834,2016-01-05,49.714508,156.094910,0.953556,0.605881,0.347675,0,0.004562,0.004562,-0.000000,1.000000
835,2016-01-06,48.811424,152.284225,0.922594,0.566761,0.355832,-1,-0.018165,-0.018165,0.027332,1.027332
836,2016-01-07,47.113625,147.603790,0.864383,0.518713,0.345671,0,-0.034783,-0.034783,-0.000000,1.027332
837,2016-01-08,47.258125,146.994095,0.869338,0.512454,0.356884,-1,0.003067,0.003067,0.007505,1.035042
...,...,...,...,...,...,...,...,...,...,...,...
2377,2022-02-18,287.929993,344.012177,9.120941,2.535016,6.585924,-1,-0.009631,-0.009631,0.003594,-0.916430
2378,2022-02-22,287.720001,342.252533,9.113741,2.516952,6.596789,0,-0.000729,-0.000729,-0.000000,-0.916430
2379,2022-02-23,280.269989,339.190613,8.858312,2.485519,6.372793,-1,-0.025893,-0.025893,-0.080467,-0.990173
2380,2022-02-24,294.589996,338.196472,9.349283,2.475313,6.873970,0,0.051094,0.051094,-0.000000,-0.990173
2381,2022-02-25,297.309998,348.068268,9.442541,2.576656,6.865885,-1,0.009233,0.009233,-0.164008,-1.152569

In [19]:
distanceClass.testPairs[7].to_csv('testExport.csv')