In [6]:
import pandas as pd
from pandas.api.types import is_numeric_dtype

In [2]:
df = pd.DataFrame({'team': ['A', 'A', 'A', 'B', 'B', 'B'],
                   'points': [11, 7, 8, 10, 13, 13],
                   'assists': [5, 7, 7, 9, 12, 9],
                   'rebounds': [11, 8, 10, 6, 6, 5]})

In [20]:
is_numeric_dtype(df.iloc[0:,1])

False

In [ ]:
f = lambda x: is_numeric_dtype(x)

In [21]:
df.iloc[0:,1:]

   points  assists  rebounds
0      11        5        11
1       7        7         8
2       8        7        10
3      10        9         6
4      13       12         6
5      13        9         5